/* CSS Variables */

:root {
    --color: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body{
    text-align: center;
    background: rgb(172, 118, 189);
}

.controls{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.controls input{
    margin-right: 20px;
}

img{
    padding: var(--spacing);
    background: var(--color);
    filter: blur(var(--blur));
}

.hl{
    color: var(--color);
} 

.controlValue{
    margin-top: 10px;
}